src/main/resources/calculator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.baeldung.com/springsoap/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.baeldung.com/springsoap/gen" targetNamespace="http://www.baeldung.com/springsoap/gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.baeldung.com/springsoap/gen">

            <xs:element name="calculatorRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="expression" type="tns:expression"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="calculatorResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="expression">
                <xs:sequence>
                    <xs:element name="num0" type="xs:double"/>
                    <xs:element name="num1" type="xs:double"/>
                    <xs:element name="operation" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="calculatorRequest">
        <wsdl:part element="tns:calculatorRequest" name="calculatorRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculatorResponse">
        <wsdl:part element="tns:calculatorResponse" name="calculatorResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CalculatorPort">
        <wsdl:operation name="calculator">
            <wsdl:input message="tns:calculatorRequest" name="calculatorRequest">
            </wsdl:input>
            <wsdl:output message="tns:calculatorResponse" name="calculatorResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorPortSoap11" type="tns:CalculatorPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="calculator">
            <soap:operation soapAction=""/>
            <wsdl:input name="calculatorRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculatorResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorPortService">
        <wsdl:port binding="tns:CalculatorPortSoap11" name="CalculatorPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>